
/********** BACKGROUND *************/
#base_content{
    background-image: url("../picture/snowboarding-3554x1999.jpg");
    background-repeat: no-repeat;
}
@media all and (min-width: 0px) /* Extra small */   {#base_content{background-size: 100% 50%;
                                                                   padding: 15px;}}
@media all and (min-width: 576px) /* Small */       {}
@media all and (min-width: 768px) /* Medium */      {#base_content{padding: 50px 0px ;}}
@media all and (min-width: 992px) /* Large */       {#base_content{background-size: 100% 65%;}}
@media all and (min-width: 1200px) /* Extra large */{#base_content{background-size: 100% 80%;}}

#trick{
    border:1px solid black;
    box-shadow: 2px 2px 10px black;
    padding:0px 0px 50px 0px;
    background-color: white;
}

/**************** HEADER TRICK ******************/
#spotlight_picture{
    width: 100%;
    max-height: 40vw;
}
figure{
    text-align: center;
    position : relative;
}
#picture_buttons{
    position : absolute;
    top : 15px;
    right : 15px;
    padding: 5px 20px;
    background-color: white;
    border:1px solid black;
    box-shadow: 2px 2px 10px black;
}
figcaption{
    position : absolute;
    width: 100%;
    top : 45%;
}
h1{
    text-align: center;
}


/******** FORM ************/
#form_div{  
    margin: 0px  auto;
}
form{
    margin : 5px;
}

@media all and (min-width: 768px) /* Medium and + */      {#trick_title{width: 60%;}}
#trick_description{
    height : 250px;
}
#trick_groupTrick{
    width: 40%
}
#buttons_form {
    text-align : center ;
}
@media all and (min-width: 768px) /* Medium and + */      {#buttons_form{text-align : right;}}
#buttons_form .btn{
    width: 71px;
}

/******** MEDIAS in form ************/
.medias li{
    list-style-type: none;
}