.container{
    padding :15px;
}
.container > div{
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    padding: 40px;
    text-align: center;
    max-width:500px;
    margin: 0 auto;
}
@media all and (min-width: 576px) /* Small and + */      {.container > div{margin-top: 100px;}}

.container > div a{
    display :block;
    margin-bottom: 10px;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
.form-group{
    text-align: center;
}