#div_main__image{
    position : relative;
    width:100%;
    height:calc(100vh - 56px); /*56=navbar*/
    overflow:hidden;
}

#main_image{
    height: 100%;
}
@media all and (min-width: 992px) /* Large */      {#main_image{width: 100%;}}

h1{
    position : absolute;
    width: 100%;
    top : 45%;
    text-align: center;
}