/********** BACKGROUND *************/
#base_content{
    background-image: url("../image/snowboarding-3554x1999.jpg");
    background-repeat: no-repeat;
}
@media all and (min-width: 0px) /* Extra small */   {#base_content{background-size: 100% 50%;
                                                                   padding: 15px;}}
@media all and (min-width: 576px) /* Small */       {}
@media all and (min-width: 768px) /* Medium */      {#base_content{padding: 50px 0px ;}}
@media all and (min-width: 992px) /* Large */       {#base_content{background-size: 100% 65%;}}
@media all and (min-width: 1200px) /* Extra large */{#base_content{background-size: 100% 80%;}}

#trick{
    border:1px solid black;
    box-shadow: 2px 2px 10px black;
    padding:0px;
    background-color: white;
}

/**************** HEADER TRICK ******************/
#spotlight_picture{
    width: 100%;
}
figure{
    position : relative;
}
#picture_buttons{
    position : absolute;
    top : 15px;
    right : 15px;
    padding: 5px 20px;
    background-color: white;
    border:1px solid black;
    box-shadow: 2px 2px 10px black;
}
figcaption{
    position : absolute;
    width: 100%;
    top : 45%;
}
h1{
    text-align: center;
}
/************ CONTENTS *************/
#description{
    padding : 0px 20px;
}
@media all and (min-width: 768px) /* Medium */      {#description{padding: 0px 70px ;}}

#information > p {
    border : 1px solid black;
    margin : 0px 10px;
    padding: 10px;
    text-align : center;
}

/************** LEAVE COMMENT **************/

#comment_form_div{
    margin: 0px  auto;
}
form{
    display : flex;
}
form input{
    height : inherit!important;
}
form button{
    width : 50%;
    margin-left: 20px;
}

/************** DISPLAY COMMENTS ********************/
.comment{
    position: relative;
    margin-bottom: 15px;
}
.comment img{
    position: absolute;
    right : calc(100% - 154px);
    border-radius: 50%;
    height: 84px;
    width:84px;
    
}
.comment > div{
    border : 1px solid black;
    margin:0px 84px 0px 154px;
    padding: 5px;
}
.comment p{
    margin-bottom : 0px;
    word-wrap: break-word;
}