/************ MAIN IMAGE ***************/

#div_main__image{
    position : relative;
    width:100%;
    height:calc(100vh - 56px); /*56=navbar*/
    overflow:hidden;
}

#main_image{
    height: 100%;
}
@media all and (min-width: 992px) /* Large */      {#main_image{width: 100%;}}

h1{
    position : absolute;
    width: 100%;
    top : 45%;
    text-align: center;
}
h1:hover{
    color : white;
    cursor: default;
}

/********** TRICKS ********/

.container-fluid{
    position: relative;
    padding : 30px 15px 30px 15px;
}

.div-card{
    padding : 30px;
}

/******** Buttons ******/

#downToTricks, #upToTricks{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: white;
    border-radius: 50%;
}
#downToTricks:hover, #upToTricks:hover{
    background-color: #2FA4E7;
}

#divLoadMore{
    text-align: center;
}