/************ MAIN IMAGE ***************/

#div_main__image{
    position : relative;
    width:100%;
    height:calc(100vh - 56px); /*56=navbar*/
    overflow:hidden;
}

#main_image{
    height: 100%;
}
@media all and (min-width: 992px) /* Large */      {#main_image{width: 100%;}}

h1{
    position : absolute;
    width: 100%;
    top : 45%;
    text-align: center;
}

/********** TRICKS ********/

.container-fluid{
    position: relative;
    padding : 30px 15px 100px 15px;
}

.div-card{
    padding : 30px;
}

/******** Buttons ******/

#downToTricks, #upToTricks{
    color :black;
    position: absolute;
    right: 30px;
    bottom: 30px;
}