<hr>
<p>Hi {{ username }}!
    <a href="{{ url('user_resetPassword', {'username':username, 'forgotPasswordToken':forgotPasswordToken})}}">Click here to reset your password</a>.
</p>
<hr>
<p>SnowTrick thanks you ! see you soon !</p>