{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock title %}
{% block stylesheets %}<link href={{ asset('css/formUser.css') }} type="text/css" rel="stylesheet">{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1>Forgot Password</h1>
            {{ form_start(formForgotPassword, {'attr': {'novalidate': 'novalidate'}}) }}
                {{form_row(formForgotPassword.username, {'label':"Username or Email" } )}}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Ask to reset password</button>
                </div>
            {{ form_end(formForgotPassword) }}
        </div>
    </div>
{% endblock body %}