{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Forgot Password</h1>
        {{ form_start(formForgotPassword, {'attr': {'novalidate': 'novalidate'}}) }}
            {{form_row(formForgotPassword.username, {'label':"Username or Email" } )}}
            <button type="submit" class="btn btn-primary">Ask to reset password</button>
        {{ form_end(formForgotPassword) }}
    </div>
{% endblock body %}