{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock title %}
{% block stylesheets %}<link href={{ asset('css/formUser.css') }} type="text/css" rel="stylesheet">{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1>Reset Password</h1>
            {{ form_start(formResetPassword, {'attr': {'novalidate': 'novalidate'}}) }}
                {{form_row(formResetPassword.password,{ 'label':"New Password" })}}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            {{ form_end(formResetPassword) }}
        </div>
    </div>
{% endblock body %}